.container {
  background-image: url("/src/assets/images/foncombe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  color: white;

  filter: blur(0); /* Assure-toi qu'il n'y a pas de flou appliqué */
}

.titre {
  display: flex;
  font-size: 0.9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.introduction {
  display: flex;
  width: 60%; /* Le paragraphe prend toute la largeur */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0 10px; /* Ajoute un léger padding pour éviter que le texte colle aux bords */
  box-sizing: border-box; /* Assure que le padding ne dépasse pas la largeur */
  line-height: 1.9;
}

@media screen and (max-width: 600px) {
  .container {
    background-size: cover; /* Couvre toujours toute la zone */
    background-position: top center; /* Aligne mieux l'image */
    min-height: 100vh; /* Prend toute la hauteur de l'écran */
  }
}
