.warrior-card img {
  height: 200px; /* Définir une hauteur uniforme */
  width: 200px; /* Définir une largeur uniforme */
  object-fit: cover;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.warrior-card {
  border: solid black;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem;
  background-color: rgba(173, 216, 230, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s
    ease;
}

.warrior-card:hover {
  transform: scale(1.05); /* Agrandir légèrement la carte */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajouter une ombre portée */
  background-color: rgba(173, 216, 230, 0.6); /* Changer la couleur de fond lors du survol */
}

.warrior-card:hover img {
  transform: scale(1.1);
}

.warrior-container {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  margin-left: 4.5rem;
}
